<div class="col-md-2 sidebar">
    <div class="row">
        <!-- uncomment code for absolute positioning tweek see top comment in css -->
        <div class="absolute-wrapper"></div>
        <!-- Menu -->
        <div class="side-menu">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Main Menu -->
                <div class="side-menu-container">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('country_show_name',{'name':'Inde'}) }}"><span class="glyphicon glyphicon-plane"></span> Inde</a></li>
                        <li><a href="{{ path('country_show_name',{'name':'Pologne'}) }}"><span class="glyphicon glyphicon-plane"></span> Pologne</a></li>
                        <li><a href="{{ path('country_show_name',{'name':'Angleterre'}) }}"><span class="glyphicon glyphicon-plane"></span> Angleterre</a></li>
                        <li><a href="{{ path('country_show_name',{'name':'Afrique du Sud'}) }}"><span class="glyphicon glyphicon-plane"></span> Afrique du sud</a></li>
                        <li><a href="{{ path('country_show_name',{'name':'Canada'}) }}"><span class="glyphicon glyphicon-plane"></span> Canada</a></li>
                        <li><a href="{{ path('country_show_name',{'name':'Malaysie'}) }}"><span class="glyphicon glyphicon-plane"></span> Malaysie</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>

        </div>
    </div>
</div>